<div>
  <div class="title">
    <a target="_blank">Martínez Velasco Alberto Bonifacio</a>
  </div>
  <div class="desc">Desarrollador FullStack.</div>
  <div class="desc">
    <strong>Hobbies: </strong>
    Leer, Gym, Cine, Escuhar Música.
  </div>
  <div class="desc">
    <strong>Fecha y lugar de nacimiento:</strong>
    22 de febrero de 1990. Oaxaca de Juárez, Oax
  </div>
  <div class="desc">
    <strong>Email:</strong>
    albon_marvel&#64;hotmail.com
  </div>
  <div class="desc">
    <strong>Teléfono:</strong>
    951 194 21 11

    <strong>Whatsapp:</strong>
    <a
      href="https://wa.me/529511942111"
      target="_blank"
      rel="noopener noreferrer"
    >
      951 194 21 11
    </a>
  </div>
</div>
