<div style="height: 20vh;">
  <div>
    <div class="text-center" *ngIf="!data" style="margin-top: 10%;">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div *ngIf="data">
    <ng-container *ngFor="let key of (data | keyvalue)">
      <div class="desc" *ngIf="isFieldVisible(key.key)">
        <ng-container [ngSwitch]="key.key">
          <!-- WhatsApp -->
          <ng-container *ngSwitchCase="'whatsapp'">
            <strong>Whatsapp: </strong>
            <a [href]="whatsappUrl" target="_blank" rel="noopener noreferrer">
              {{ key.value }}
            </a>
          </ng-container>

          <!-- Email -->
          <ng-container *ngSwitchCase="'email'">
            <strong>Email: </strong>
            <span [innerHTML]="emailEscaped"></span>
          </ng-container>

          <!-- Otros -->
          <ng-container *ngSwitchDefault>
            <strong>{{ formatKey(key.key) }}: </strong>
            <span *ngIf="isPrimitive(key.value)">{{ key.value }}</span>
          </ng-container>

        </ng-container>
      </div>
    </ng-container>


  </div>

</div>

