<div>
  <div class="title">
    <a target="_blank">Martínez Velasco Alberto Bonifacio</a>
  </div>
  <div class="desc">Desarrollador FullStack.</div>
  <div class="desc">
    <strong>Hobbies: </strong>
    Leer, Gym, Cine, Escuhar Música.
  </div>
  <div class="desc">
    <strong>Fecha y lugar de nacimiento:</strong>
    22 de febrero de 1990. Oaxaca de Juárez, Oax
  </div>
  <div class="desc">
    <strong>Email:</strong>
    albon_marvel@hotmail.com
  </div>
  <div class="desc">
    <strong>Teléfono:</strong>
    33 11 83 71 86

    <strong>Whatsapp:</strong>
    951 194 21 11
  </div>
</div>
