<div class="container-fluid d-flex" style="min-height: 60vh">
  <!-- Panel fijo: Elementos disponibles -->
  <app-form-field-palette [elements]="elements"> </app-form-field-palette>

  <!-- Panel flexible: Formulario construido -->
  <div class="card shadow-sm flex-grow-1">
    <div class="card-header bg-success text-white">
      <i class="fas fa-list me-2"></i> Formulario construido
    </div>
    <div
      class="card-body"
      cdkDropList
      id="target"
      [cdkDropListData]="formElements"
      [cdkDropListConnectedTo]="['source']"
      (cdkDropListDropped)="drop($event)"
    >
      <app-form-element
        *ngFor="let element of formElements; let i = index; trackBy: trackByFn"
        [element]="element"
        [index]="i"
        (edit)="editField($event)"
        (remove)="removeElement($event)"
      >
      </app-form-element>
    </div>
  </div>
</div>
