<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Search -->
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-primary active">
      <input type="radio" name="options" id="option1" autocomplete="off" [ngClass]="{'active': activeLang == 'es'}" (click)="cambiarLenguaje('es')">
      {{ 'lenguajes.es' | translate }}
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="options" id="option2" autocomplete="off" [ngClass]="{'active': activeLang == 'en'}" (click)="cambiarLenguaje('en')">
      {{ 'lenguajes.en' | translate }}
    </label>
  </div>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
    <li class="nav-item dropdown no-arrow d-sm-none">
      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-search fa-fw"></i>
      </a>
      <!-- Dropdown - Messages -->
      <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
        <form class="form-inline mr-auto w-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>

    <!-- Nav Item - Alerts -->
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        <span class="badge badge-danger badge-counter">5+</span>
      </a>
      <!-- Dropdown - Alerts -->
      <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
          Aptitudes
        </h6>
        <a class="dropdown-item d-flex align-items-center" href="#">
          <div class="mr-3">
            <div class="icon-circle bg-primary">
              <i class="fas fa-lightbulb text-white"></i>
            </div>
          </div>
          <div>
            <div class="small text-gray-500">
              {{ 'topbar.notificaciones.creatividad' | translate }}
            </div>
            <span class="font-weight-bold">
              {{ 'topbar.notificaciones.creatividad.text' | translate }}
            </span>
          </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="#">
          <div class="mr-3">
            <div class="icon-circle bg-success">
              <i class="fas fa-clock text-white"></i>
            </div>
          </div>
          <div>
            <div class="small text-gray-500">
              {{ 'topbar.notificaciones.puntualidad' | translate }}
            </div>
             {{ 'topbar.notificaciones.puntualidad.text' | translate }}
          </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="#">
          <div class="mr-3">
            <div class="icon-circle bg-warning">
              <i class="fas fa-book-reader text-white"></i>
            </div>
          </div>
          <div>
            <div class="small text-gray-500">
              {{ 'topbar.notificaciones.autodidacta' | translate }}
            </div>
            {{ 'topbar.notificaciones.autodidacta.text' | translate }}
          </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="#">
          <div class="mr-3">
            <div class="icon-circle bg-warning">
              <i class="fas fa-users text-white"></i>
            </div>
          </div>
          <div>
            <div class="small text-gray-500">
              {{ 'topbar.notificaciones.workteam' | translate }}
            </div>
            {{ 'topbar.notificaciones.workteam.text' | translate }}
          </div>
        </a>
        <a class="dropdown-item text-center small text-gray-500" href="#">
          {{ 'topbar.notificaciones.service' | translate }}
        </a>
      </div>
    </li>

    <!-- Nav Item - Messages -->
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-newspaper fa-fw"></i>
        <!-- Counter - Messages -->
        <span class="badge badge-danger badge-counter">7</span>
      </a>
      <!-- Dropdown - Messages -->
      <div *ngIf="items.length > 0" class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown" style="overflow-y:scroll; max-height: 390px;">
        <h6 class="dropdown-header">
          {{ 'topbar.news.label' | translate }}
        </h6>
        <a  *ngFor="let item of items; let i = index" class="dropdown-item d-flex align-items-center" href="{{item.url}}">
          <div class="dropdown-list-image mr-3">
            <img class="rounded-circle" src="{{item.enclosure.url}}" alt="">
            <div class="status-indicator bg-success"></div>
          </div>
          <div class="font-weight-bold">
            <div class="">{{item.title}}</div>
            <div class="small text-gray-500" ng-bind-html="item.description"></div>
          </div>
        </a>
        <a class="dropdown-item text-center small text-gray-500" href="{{feed.siteUrl}}" *ngIf="feed">
          {{'topbar.news.readMore'| translate}}
        </a>
      </div>
    </li>

    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Alberto Martinez</span>
        <img class="img-profile rounded-circle" src="https://media-exp1.licdn.com/dms/image/C4E03AQHpzbKMBatREg/profile-displayphoto-shrink_400_400/0?e=1604534400&v=beta&t=UKgzEYAlKd4Jvm6vkkhw5QmtzkwCntj9J2At9jKOU4Q">
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" routerLink="/profile">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          {{ 'sidebar.menu.profile' | translate }}
        </a>
        <a class="dropdown-item" href="#">
          <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
          {{ 'sidebar.menu.settings' | translate }}
        </a>
        <a class="dropdown-item" href="https://1drv.ms/w/s!Anol33_EhXCeiQfa_qCIjE82JYcw" target="_blank">
          <i class="fas fa-file-word fa-sm fa-fw mr-2 text-gray-400"></i>
          {{ 'topbar.menu.openCV' | translate }}
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()" *ngIf="identity">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          {{ 'sidebar.menu.logout' | translate }}
        </a>
      </div>
    </li>

  </ul>

</nav>
  <!-- End of Topbar -->
