<div>
  <div class="navigation col-xl-12">
    <nav class="navbar navbar-light bg-light fixed-top navbar-expand-md" style="background: #FDF6F6">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggler"> 
              <span class="sr-only">Toggle navigation</span>&#x2630;
            </button> 
            <a routerLink="/home" class="navbar-brand">
              {{title}}
            </a>
            <div id="navbarCollapse" class="collapse navbar-collapse">
              <ul class="nav navbar-nav ml-auto" *ngIf="identity">
                <li class="dropdown nav-item"> 
                  <a class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <span class="caret"></span>
                    {{identity.username| uppercase}}
                  </a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item"> 
                      <a style="cursor:pointer" (click)="logout()">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Cerrar sesión
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav ml-auto" *ngIf="!identity">
                <li class="nav-item"> 
                  <a routerLink="/login" routerlinkactive="active"class="nav-link">
                    <span class="glyphicon glyphicon-log-in">
                      Login
                    </span>
                  </a>
                </li>
                <li class="nav-item"> 
                  <a routerLink="/registro" routerlinkactive="active" class="nav-link">
                    <span class="glyphicon glyphicon-user">
                      Registrarme
                    </span>
                  </a>
                </li>
              </ul>
            </div>
        </div>
    </nav>
  </div>
  <main>
    <div id="wrapper">
      <!--<app-sidebar *ngIf="identity"></app-sidebar>-->
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row" style="margin-top:7%;" *ngIf="identity"> 
            <a (click)="toggleSidebar()" class="btn btn-secondary" id="menu-toggle" style="cursor:pointer;">
              <i class="glyphicon glyphicon-menu-hamburger"></i>
            </a>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
  </main>
</div>