<div class="row">
    <div class="col-lg-6 mb-4">
        <div class="card bg-info text-white shadow">
            <div class="card-body">
                {{ 'lenguajes.en' | translate}}
                <div class="text-white-50 small">Intermedio</div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card bg-success text-white shadow">
          <div class="card-body">
            {{ 'lenguajes.es' | translate}}
            <div class="text-white-50 small">Nativo</div>
          </div>
        </div>
    </div>
</div>
