<div class="container py-3" *ngIf="form">
  <form [formGroup]="form">
    <div *ngFor="let section of sections" class="mb-4">
      <h5 class="mb-3">{{ section.title }}</h5>

      <div *ngFor="let row of section.rows" class="row g-3 mb-3">
        <div
          *ngFor="let column of row.columns; let colIndex = index"
          class="col"
          [ngClass]="getResponsiveColumnClass(row.columnCount)"
        >
          <div *ngFor="let field of column" class="mb-3">
            <label
              [for]="field.id"
              class="form-label"
              *ngIf="field.type !== 'button' && field.type !== 'submit'"
              >{{ field.label }}</label
            >

            <ng-container [ngSwitch]="field.type">
              <!-- Text / Email / Number / etc -->
              <input
                *ngSwitchCase="'text'"
                type="text"
                class="form-control"
                [formControlName]="field.id"
                [placeholder]="field.placeholder"
              />

              <input
                *ngSwitchCase="'email'"
                type="email"
                class="form-control"
                [formControlName]="field.id"
                [placeholder]="field.placeholder"
              />

              <input
                *ngSwitchCase="'number'"
                type="number"
                class="form-control"
                [formControlName]="field.id"
                [placeholder]="field.placeholder"
              />

              <!-- Textarea -->
              <textarea
                *ngSwitchCase="'textarea'"
                class="form-control"
                [formControlName]="field.id"
                [placeholder]="field.placeholder"
                rows="3"
              ></textarea>

              <!-- Select -->
              <select *ngSwitchCase="'select'" class="form-control" [formControlName]="field.id">
                <option *ngFor="let opt of field.options" [value]="opt">{{ opt }}</option>
              </select>

              <!-- Checkbox -->
              <div *ngSwitchCase="'checkbox'" class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [formControlName]="field.id"
                  [id]="field.id"
                />
                <label class="form-check-label" [for]="field.id">{{ field.label }}</label>
              </div>

              <!-- Radio -->
              <div *ngSwitchCase="'radio'">
                <div *ngFor="let opt of field.options" class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    [value]="opt"
                    [formControlName]="field.id"
                    [id]="field.id + '-' + opt"
                  />
                  <label class="form-check-label" [for]="field.id + '-' + opt">{{ opt }}</label>
                </div>
              </div>

              <!-- Button -->
              <button
                *ngSwitchCase="'button'"
                type="button"
                class="btn btn-primary"
                (click)="onButtonClick(field)"
              >
                {{ field.label }}
              </button>

              <!-- Submit -->
              <button *ngSwitchCase="'submit'" type="submit" class="btn btn-success w-100">
                {{ field.label || 'Enviar' }}
              </button>

              <!-- Date -->
              <input
                *ngSwitchCase="'date'"
                type="date"
                class="form-control"
                [formControlName]="field.id"
                [placeholder]="field.placeholder"
              />

              <!-- Tel -->
              <input
                *ngSwitchCase="'tel'"
                type="tel"
                class="form-control"
                [formControlName]="field.id"
                [placeholder]="field.placeholder"
              />

              <!-- URL -->
              <input
                *ngSwitchCase="'url'"
                type="url"
                class="form-control"
                [formControlName]="field.id"
                [placeholder]="field.placeholder"
              />

              <!-- File -->
              <input
                *ngSwitchCase="'file'"
                type="file"
                class="form-control"
                [attr.name]="field.id"
              />

              <!-- Fallback -->
              <input
                *ngSwitchDefault
                type="text"
                class="form-control"
                [formControlName]="field.id"
                [placeholder]="field.placeholder"
              />
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
