<div class="container py-3">
  <form [formGroup]="form">
    <div *ngFor="let section of sections" class="mb-4">
      <h5 class="mb-3">{{ section.title }}</h5>

      <div *ngFor="let row of section.rows" class="row mb-3">
        <div
          *ngFor="let column of row.columns; let colIndex = index"
          class="col"
          [ngClass]="'col-' + 12 / row.columnCount"
        >
          <div *ngFor="let field of column" class="mb-3">
            <label [for]="field.id" class="form-label">{{ field.label }}</label>

            <ng-container [ngSwitch]="field.type">
              <!-- Text / Email / Number / etc -->
              <input
                *ngSwitchCase="'text'"
                type="text"
                class="form-control"
                [formControlName]="field.id"
                [placeholder]="field.placeholder"
                readonly
              />

              <input
                *ngSwitchCase="'email'"
                type="email"
                class="form-control"
                [formControlName]="field.id"
                [placeholder]="field.placeholder"
                readonly
              />

              <input
                *ngSwitchCase="'number'"
                type="number"
                class="form-control"
                [formControlName]="field.id"
                [placeholder]="field.placeholder"
                readonly
              />

              <!-- Textarea -->
              <textarea
                *ngSwitchCase="'textarea'"
                class="form-control"
                [formControlName]="field.id"
                [placeholder]="field.placeholder"
                rows="3"
                readonly
              ></textarea>

              <!-- Select -->
              <select *ngSwitchCase="'select'" class="form-control" [formControlName]="field.id">
                <option *ngFor="let opt of field.options" [value]="opt">{{ opt }}</option>
              </select>

              <!-- Checkbox -->
              <div *ngSwitchCase="'checkbox'" class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [formControlName]="field.id"
                  [id]="field.id"
                  [disabled]="field.disabled"
                />
                <label class="form-check-label" [for]="field.id">{{ field.label }}</label>
              </div>

              <!-- Radio -->
              <div *ngSwitchCase="'radio'">
                <div *ngFor="let opt of field.options" class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    [value]="opt"
                    [formControlName]="field.id"
                    [id]="field.id + '-' + opt"
                    disabled
                  />
                  <label class="form-check-label" [for]="field.id + '-' + opt">{{ opt }}</label>
                </div>
              </div>

              <!-- Fallback -->
              <input
                *ngSwitchDefault
                type="text"
                class="form-control"
                [formControlName]="field.id"
                [placeholder]="field.placeholder"
                readonly
              />
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
