<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 offset-lg-3"> 
      <div class="card hovercard">
        <div class="cardheader">

        </div>
        <div class="avatar">
          <img alt="" src="https://scontent.fntr6-1.fna.fbcdn.net/v/t1.0-9/152883816_10225109117293263_5493610445547617401_o.jpg?_nc_cat=107&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeG-i7etZFbm0NpdoEeQNpiyz3s1dpTtgPrPezV2lO2A-nYeyz6P2uUx-cGbkWyt2CU&_nc_ohc=4geD254z2SEAX-DAMWR&_nc_ht=scontent.fntr6-1.fna&oh=7fa5c8c4bffc323869e24692f8042004&oe=60785A6E">
        </div>
        <div class="info">
          <app-datos-personales></app-datos-personales>
        </div>
        <div class="bottom">
          <app-redes-sociales></app-redes-sociales>
        </div>
      </div>

    </div>

  </div>
</div>
