<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 offset-lg-3"> 
      <div class="card hovercard">
        <div class="cardheader">

        </div>
        <div class="avatar">
          <img alt="" src="https://media-exp1.licdn.com/dms/image/C4E03AQHpzbKMBatREg/profile-displayphoto-shrink_400_400/0?e=1604534400&v=beta&t=UKgzEYAlKd4Jvm6vkkhw5QmtzkwCntj9J2At9jKOU4Q">
        </div>
        <div class="info">
          <app-datos-personales></app-datos-personales>
        </div>
        <div class="bottom">
          <app-redes-sociales></app-redes-sociales>
        </div>
      </div>

    </div>

  </div>
</div>
