<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 mb-4">
            <app-datos-personales></app-datos-personales>
        </div>
        <div class="col-lg-4 pull-lg-8 text-center">
            <img class="m-x-auto img-fluid img-profile rounded-circle" src="https://scontent.fntr6-1.fna.fbcdn.net/v/t1.0-9/14502950_10210457918022438_2409538014402574802_n.jpg?_nc_cat=105&_nc_ht=scontent.fntr6-1.fna&oh=b798e7dfe77285cca6e2f7f743e5d147&oe=5D58AD1A">
            <app-redes-sociales></app-redes-sociales>
        </div>
    </div>
</div>

