<!-- Project Card Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Habilidades</h6>
    </div>
    <div class="card-body">
        <div *ngFor="let habilidad of habilidades;">
            <h4 class="small font-weight-bold">
                {{ habilidad.name | uppercase}}
                <span class="float-right">
                    {{ habilidad.porcentaje}}%
                </span>
            </h4>
            <div class="progress mb-4">
                <div class="progress-bar bg-info" role="progressbar" [ngStyle]="getStyleBar(habilidad.porcentaje)" [attr.aria-valuenow]="habilidad.porcentaje" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div> 
    </div>
</div>