<div id="mySidebar" class="sidebar">
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Lupa</span>
        </div>
        <input type="text" class="form-control form-control-sm" aria-label="Amount (to the nearest dollar)">
    </div>
    <button type="button" (click)="closeNav()"class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <a routerLink="home">Home</a>
    <a href="#">Historial de alertas</a>
    <a href="#">Causa y efecto</a>
    <a href="#">Tiempo Real</a>
    <a href="#">Reportes</a>
    <a href="#">Configuración</a>
</div>
          
