<!-- Sidebar -->
<span>

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="profile">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="far fa-grin"></i>
    </div>
    <div class="sidebar-brand-text mx-3">
      CV <sup>Web</sup>
    </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" routerLink="home">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>
        {{ 'principal.inicio' | translate }}
      </span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    {{ 'menu.trajectory' | translate }}
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-file-pdf"></i>
      <span>
        {{ 'menu.experiencia' | translate }}
      </span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded" style="text-overflow: ellipsis !important; width: 100% !important; overflow: hidden !important;  white-space: nowrap !important;">
        <a class="collapse-item" [routerLink]="['/empresa/', empresa.id]" *ngFor="let empresa of empresas;">
          {{ empresa.nombre }}

        </a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-university"></i>
      <span>
        {{ 'menu.estudios' | translate }}
      </span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">
          {{ 'menu.inproress' | translate }}:
        </h6>
      </div>
    </div>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">
</span>
