<div>
  <a href="https://www.linkedin.com/in/albonmarvel/" class="btn btn-primary btn-sm">
    <i class="fab fa-linkedin fa-fw"></i>
  </a>
  <a class="btn btn-sm" rel="publisher"
     href="https://twitter.com/AlbonMarvel?lang=es">
    <i class="fab fa-twitter fa-fw"></i>
  </a>
  <a class="btn btn-primary btn-sm" rel="publisher"
     href="https://www.facebook.com/alberto.martinez.501598">
    <i class="fab fa-facebook-f fa-fw"></i>
  </a>
  <a class="btn btn-sm" rel="publisher" href="https://github.com/zodiak2290">
    <i class="fab fa-github fa-fw"></i>
  </a>
</div>
